@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  width: 100%;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
}
.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-top: 10px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}
.image-container img {
  margin: 10px;
}
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
}
